/* --------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------ NAV BAR ------------------------------------------------ */
/* --------------------------------------------------------------------------------------------------------- */
 #navBar { -fx-background-color: #045a80; }
 
 #btnDictionary, #btnAnalysis, #btnPreferences, #btnHelp, #btnExit {
	-fx-background-color: #045a80; 
	-fx-text-fill: #ffffff;
	-fx-font-size: 14px; 
 }
 
 #btnDictionary:hover, #btnAnalysis:hover, #btnPreferences:hover, #btnHelp:hover { -fx-background-color: #25a0db; }
 #btnExit:hover { -fx-background-color: #eb4546; }

/* --------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------- DICTIONARY ----------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
 #btnFileChooser, #btnAddDictionary  {
	-fx-background-color: #045a80; 
	-fx-text-fill: #ffffff;
 }
 #btnFileChooser:hover, #btnAddDictionary:hover  { -fx-background-color: #25a0db; }

 #text_filename {
	-fx-background-color: #ffffff; 
	-fx-border-color: #045a80; 
	-fx-border-radius: 5px; 
	-fx-padding: 3px 6px 3px 6px;
 }

 #btnReset {
	-fx-background-color: #eb4546; 
	-fx-text-fill: #ffffff;
 }
 #btnReset:hover {
	-fx-background-color: #a70c0c; 
	-fx-text-fill: #ffffff;
 }
 
 #lineHR { -fx-stroke: #045a80; }
 #DictionaryScrollPane { -fx-background-color: #ffffff; }
 #DictionaryPane {-fx-background-color: #ffffff; }
 
 /* ------ messages ------ */
 
 #informPane,  #informPaneLi { -fx-background-color: #dff0d9 ; }
 #text_inform { -fx-text-fill: #418329 ; }
 #errorPane, #errorPaneLi { -fx-background-color: #fedede ; }
 #text_error {  -fx-text-fill: #ab1f1f ; }
 
 /* ------ LIST OF RESULTS ------ */
 .btnEdit {
 	-fx-background-color: #118645; 
 	-fx-text-fill: #ffffff;
 }
 .btnRemove {
 	-fx-background-color: #eb4546; 
 	-fx-text-fill: #ffffff;
 }
 .btnShow {
 	-fx-background-color: #f29a2f; 
 	-fx-text-fill: #ffffff;
 }
 .btnEdit:hover { -fx-background-color: #24ad4f; }
 .btnRemove:hover { -fx-background-color: #a70c0c; }
 .btnShow:hover { -fx-background-color: #febd34; }
  
 .liDictionary {
 	-fx-background-color: transparent;
 	-fx-border-radius: 5px;
 	-fx-border-color: #25a0db;
 }
 
 /* edit list item */
 .text_filename_edit {
 	-fx-background-color: transparent; 
	-fx-border-color: transparent; 
	-fx-text-fill: #118645 ;
 }
 .text_filename_edit_error {
	-fx-text-fill: #eb4546 ;
 }
 .liDictionaryEdit {
 	-fx-border-width: 2px;
 	-fx-border-radius: 5px;
 	-fx-border-color: #118645;
 }
 .liDictionaryEditError {
 	-fx-border-color: #eb4546;
 }
 
 .btnSave {
 	-fx-background-color: #045a80; 
	-fx-text-fill: #ffffff;
 }
 .btnSave:hover{ -fx-background-color: #25a0db; }
 .btnDiscard {
 	-fx-background-color: #eb4546; 
	-fx-text-fill: #ffffff;
 }
 .btnDiscard:hover { -fx-background-color: #a70c0c; }

/* --------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------  SHOW  ------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
#backShowBtn {
	-fx-background-color: transparent; 
	-fx-border-color: #ffffff;
	-fx-border-width: 2px; 
	-fx-border-radius: 5px;
	-fx-text-fill: #ffffff ;
}
#backShowBtn:hover {
	-fx-background-color: #ffffff;
	-fx-text-fill: #25a0db ;
}

/* --------------------------------------------------------------------------------------------------------- */
/* ----------------------------------------------  ANALYSIS  ----------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */
#DicChoiceBox, #ActorsChoiceBox, #DistinctActorChoiceBox, #MethodChoiceBox {
	-fx-background-color: #ffffff;
	-fx-border-color: #045a80;
	-fx-border-radius: 5px; 
}

#BlockSizeInput, #BlockStepInput {
	-fx-background-color: #ffffff;
	-fx-border-color: #045a80;
	-fx-border-radius: 5px; 
}
#btnStartAnalysis {
	-fx-background-color: #118645; 
 	-fx-text-fill: #ffffff;
}
#btnStartAnalysis:hover {
	-fx-background-color: #24ad4f;
}