/* ------------------------------------------------------------------------- */
/* ------------------------ ACCORDION + TITLED PANE ------------------------ */
/* ------------------------------------------------------------------------- */

.accordion {
	-fx-background-color: #ffffff;
	-fx-border-radius: 2px;
	-fx-border-width: 1px;
	-fx-border-color: #ffffff;
	-fx-padding: 10px;
}

.titled-pane {
	-fx-background-color: #ffffff;
	-fx-border-width: 2px;
	-fx-border-color: #ffffff;
	-fx-text-fill: #045a80;
	-fx-padding: 5px;
}

.titled-pane > .title {
	-fx-color: #ffffff;
}

.titled-pane > .title > .arrow-button {
	-fx-background-color: transparent;
}

.titled-pane > .title > .arrow-button .arrow  {
	-fx-background-color: #045a80;
}


/* ------------------------------------------------------------------------- */
/* --------------------------------- WORDS --------------------------------- */
/* ------------------------------------------------------------------------- */
.word {
	-fx-font-weight: bold;
	-fx-fill: #045a80;
}
.wordBack {
	-fx-background-color: #ff0000;
}